<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @announcement.description %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @announcement.contact %>
</p>

<p>
  <strong>Url:</strong>
  <%= @announcement.url %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
