<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @call.title %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @call.organization %>
</p>

<p>
  <strong>Description:</strong>
  <%= @call.description %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @call.qualifications %>
</p>

<p>
  <strong>Compensation:</strong>
  <%= @call.compensation %>
</p>

<p>
  <strong>Url:</strong>
  <%= @call.url %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @call.contact %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @call.deadline %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
