<!DOCTYPE html>
<html>
<head>
  <title>Announcemints</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'bootstrap/dist/css/bootstrap.min', media: 'all' %>
  <%= stylesheet_link_tag    'theme.min', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <base href="/">
</head>
<body ng-app="Announcemints" class="announcemints">
  <navigation></navigation>
  <ui-view></ui-view>
</body>
</html>